:host {
  display: contents;
}
.page-bar {
  background-color: rgba(24, 24, 24, 1);
}
.bar-content {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
}
.profile {
  display: flex;
  gap: 34px;
}
.profile-img {
  aspect-ratio: 1.1;
  object-fit: contain;
  width: 33px;
}
.profile-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-title {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}
.profile-subtitle {
  color: rgba(0, 0, 0, 0.35);
}
.search-wrapper {
  display: flex;
  align-items: center;
  gap: 40px 56px;
  color: rgba(99, 99, 99, 1);
}
.search-bar {
  border-radius: 30px;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 7px 14px;
}
.search-input {
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}
.search-img,
.noti-img {
  object-fit: contain;
  width: 23px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-img {
  width: 46px;
}
.user-name {
  padding: 12px 24px;
}
.dropdown-img {
  width: 42px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.content-wrapper {
  display: flex;
}
.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.navigation {
  background-color: rgba(45, 53, 60, 1);
  color: rgba(140, 144, 148, 1);
  padding: 13px 11px 68px;
}
.nav-logo {
  width: 100%;
  background-blend-mode: lighten;
}
.nav-items {
  display: flex;
  flex-direction: column;
  padding: 0 11px;
}
.nav-title {
  font-size: 10px;
}
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin-top: 22px;
}
.nav-item.active {
  color: rgba(50, 123, 240, 1);
}
.main-content {
  width: 80%;
  padding: 20px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 19px 20px;
}
.header-title {
  font-size: 30px;
}
.add-new {
  border-radius: 10px;
  background-color: rgba(50, 123, 240, 1);
  color: rgba(255, 255, 255, 1);
  padding: 12px 22px;
  border: none;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 22px;
  gap: 15px;
  color: rgba(99, 99, 99, 1);
}
.breadcrumb-item.active {
  font-weight: 600;
}
.search-section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 49px;
}
.global-search {
  border: 1px solid rgba(0, 0, 0, 1);
  text-align: center;
  padding: 16px 56px;
}
.search-btn {
  border-radius: 50%;
  width: 28px;
  padding: 5px 23px;
  background-color: rgba(50, 123, 240, 1);
}
.table-header {
  background-color: rgba(45, 53, 60, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 69px;
  margin-top: 14px;
}
.table-header-item {
  margin: auto 0;
}
.user-row {
  background-color: #e9ecef;
  display: flex;
  text-align: center;
  padding: 0 54px;
  margin-top: 2px;
  border: 1px solid rgba(99, 99, 99, 0.5);
}
.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
  width: 100%;
  padding: 16px 0;
}
.user-name,
.user-email,
.user-phone,
.user-address,
.user-role {
  margin: auto 0;
}
.user-role {
  font-weight: 600;
}
.user-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}
.action-img {
  aspect-ratio: 1;
  width: 25px;
  border-radius: 0;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  margin-top: 11px;
  padding-right: 49px;
}
.pagination-btn {
  background-color: rgba(217, 217, 217, 1);
  padding: 7px 22px;
  border: 1px solid rgba(50, 123, 240, 1);
}

@media (max-width: 991px) {
  .search-wrapper {
    gap: 20px;
    padding-left: 20px;
  }
  .search-input,
  .user-name,
  .global-search,
  .add-new {
    padding: 0 20px;
  }
  .main-content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .nav-logo,
  .search-input {
    display: none;
  }
  .nav-items {
    gap: 8px;
  }
  .pagination {
    padding-right: 10px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
